@model WebApp.Models.Index.ViewModel.StockOrderViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@Base.Resources.Common.CreateNewLink</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockOrders.First().TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockOrders.First().Status)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StockOrders.First().WarehouseAddress) TODO - FIGURE OUT THE PROBLEM *@ 
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StockOrders.First().SupplierAddress) TODO - FIGURE OUT THE PROBLEM *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StockOrders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseAdddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Base.Resources.Common.EditLink</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Base.Resources.Common.DetailsLink</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Base.Resources.Common.DeleteLink</a>
            </td>
        </tr>
}
    </tbody>
</table>
