@model WebApp.Models.Index.MvcDto.ProductSupplierMvcDto



@{
    ViewData["Title"] = "Details";
}

<h1>@Base.Resources.Common.DetailsLink</h1>

<div>
    <h4>@Base.Resources.Common.ProdcutSupplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCost)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier!.SupplierAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product!.ProductDescription)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Base.Resources.Common.EditLink</a> |
    <a asp-action="Index">@Base.Resources.Common.BackToList</a>
</div>
