@model WebApp.Models.Index.ViewModel.ProductSupplierViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@Base.Resources.Common.CreateNewLink</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @App.Resources.Domain.ProductSupplier.UnitCost
            </th>
            <th>
                @App.Resources.Domain.ProductSupplier.SupplierName
            </th>
            <th>
                @App.Resources.Domain.ProductSupplier.ProductNae
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductSuppliers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Base.Resources.Common.EditLink</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Base.Resources.Common.DetailsLink</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Base.Resources.Common.DeleteLink</a>
            </td>
        </tr>
}
    </tbody>
</table>
