@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Models.PersonIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index Bob Count: @Model.PersonCountByName</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persons.First().PersonFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persons.First().PersonLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persons.First().PersonPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persons.First().PersonAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persons.First().PersonGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persons.First().PersonDateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Persons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonDateOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
