@model WebApp.Models.Index.ViewModel.OrderViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@Base.Resources.Common.CreateNewLink</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @App.Resources.Domain.Order.OrderShippingAddress
            </th>
            <th>
                @App.Resources.Domain.Order.OrderStatus
            </th>
            <th>
                @App.Resources.Domain.Order.OrderTotalPrice
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotalPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Base.Resources.Common.EditLink</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Base.Resources.Common.DetailsLink</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Base.Resources.Common.DeleteLink</a>
            </td>
        </tr>
}
    </tbody>
</table>
