@model WebApp.Models.Index.MvcDto.SupplierMvcDto



@{
    ViewData["Title"] = "Delete";
}

<h1>@Base.Resources.Common.DeleteLink</h1>

<h3>@Base.Resources.Common.DeleteMessage</h3>
<div>
    <h4>@Base.Resources.Common.Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierPostalCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Base.Resources.Common.DeleteButton" class="btn btn-danger" /> |
        <a asp-action="Index">@Base.Resources.Common.BackToList</a>
    </form>
</div>
