@model WebApp.Models.Index.ViewModel.SupplierViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@Base.Resources.Common.CreateNewLink</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierPostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Suppliers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierPostalCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Base.Resources.Common.EditLink</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Base.Resources.Common.DetailsLink</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Base.Resources.Common.DeleteLink</a>
            </td>
        </tr>
}
    </tbody>
</table>
