@model WebApp.Models.Index.ViewModel.SupplierViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierName))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers.First().SupplierAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Suppliers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
