@model WebApp.Models.Index.ViewModel.WarehouseViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@Base.Resources.Common.CreateNewLink</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Warehouses.First().WarehouseAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouses.First().WarehouseStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouses.First().WarehouseCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouses.First().WarehouseState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouses.First().WarehouseCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouses.First().WarehousePostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouses.First().WarehouseEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouses.First().WarehouseCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Warehouses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehousePostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCapacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Base.Resources.Common.EditLink</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Base.Resources.Common.DetailsLink</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Base.Resources.Common.DeleteLink</a>
            </td>
        </tr>
}
    </tbody>
</table>
