@model App.BLL.DTO.RefundBllDto


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Refund</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderProduct!.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
