@model WebApp.Models.Index.ViewModel.RefundViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@Base.Resources.Common.CreateNewLink</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @App.Resources.Domain.Refund.RefundAmount
            </th>
            <th>
                @App.Resources.Domain.Refund.RefundReason
            </th>
            <th>
                @App.Resources.Domain.Refund.RefundStatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Refunds) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RefundAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefundReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefundStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Base.Resources.Common.EditLink</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Base.Resources.Common.DetailsLink</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Base.Resources.Common.DeleteLink</a>
            </td>
        </tr>
}
    </tbody>
</table>
