@model WebApp.Models.Index.MvcDto.PaymentMvcDto



@{
    ViewData["Title"] = "Delete";
}

<h1>@Base.Resources.Common.DeleteLink</h1>

<h3>@Base.Resources.Common.DeleteMessage</h3>
<div>
    <h4>@Base.Resources.Common.Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order!.OrderShippingAddress)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Base.Resources.Common.DeleteButton" class="btn btn-danger" /> |
        <a asp-action="Index">@Base.Resources.Common.BackToList</a>
    </form>
</div>
