@model WebApp.Models.Index.ViewModel.PaymentViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@Base.Resources.Common.CreateNewLink</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @App.Resources.Domain.Payment.OrderId
        </th>
        <th>
            @App.Resources.Domain.Payment.PaymentMethod
        </th>
        <th>
            @App.Resources.Domain.Payment.PaymentStatus
        </th>
        <th>
            @App.Resources.Domain.Payment.PaymentAmount
        </th>
        <th>
            @App.Resources.Domain.Payment.PaymentDate
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payments) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">@Base.Resources.Common.EditLink</a> |
            <a asp-action="Details" asp-route-id="@item.Id">@Base.Resources.Common.DetailsLink</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">@Base.Resources.Common.DeleteLink</a>
        </td>
    </tr>
}
    </tbody>
</table>
